h1, h2 {
	text-align: center;
	text-decoration-color: blue
}

#header {
	border : 2px dotted black;
	height: 100px;
	background-color: lightblue;
}

#studentForm {
	width: 49%;
	border: 1px solid black;
	flex-grow: 1;
	float: left;
}

table.scrolldown {
	width: 80%;
}

thead {
	text-align: center;
}

table.scrolldown tbody, table.scrolldown thead {
	display: block;
}

#whole {
	display: flex;
	flex-flow: column;
	height: 100%;
}

table {
	table-layout: fixed;
}

td:after {
  content: "\00A0";
}

table.scrolldown th, table.scrolldown td {
	width : 110px;
	max-width: 110px;
	word-wrap: break-word;
}

table.scrolldown tbody {
	height: 150px;
	overflow-y: auto;
	overflow-x: auto;
}


.noborder {
	border:none;
}

#studentDetails {
	width: 50%;
	border: 1px solid red;
	float: left;
}

#studentTable {
	margin-top: 50px;
	border: 1px solid black;
}

.leftSide {
	text-align: right;
	padding-right: 10px;
}

table {
	border-collapse: collapse;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
}

@media (max-width: 900px) {
	#studentForm {
		width: 100%;
	}

	#studentDetails {
		width: 100%;
	}
}